* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: white;
}

main {
	width: 100%;
	height: auto;
	padding-top: 32px;
	padding-bottom: 128px;
}

.links {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 32px;
	text-align: start;
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 24px;
	justify-content: center;
}

.link {
	margin: 0 16px;
	width: auto;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.logo {
	display: block;
	background-image: url('./logo.png');
	width: 100%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.title {
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	color: #363636;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
}

.description {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #525252;
	text-align: center;
	letter-spacing: 1px;
}

.images {
	margin: 0 -16px;
	margin-top: 64px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.image1,
.image2,
.image3 {
	margin: 0 16px;
	width: 100%;
	height: 200px;
	border-style: none;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.2s ease, margin 0.6s ease;
}

.image1:hover,
.image2:hover,
.image3:hover {
	transform: scale(1.05);
	margin: 0 32px;
}

.image1 {
	background-image: url('./image1-small.jpg');
}

.image2 {
	background-image: url('./image2-small.jpg');
}

.image3 {
	background-image: url('./image3-small.jpg');
}

.info {
	user-select: none;
	font-size: 12px;
	margin-top: 16px;
	width: 100%;
	height: 32px;
	text-align: center;
	opacity: 0.75;
	letter-spacing: 1px;
	transition: 0.2s opacity linear;
}

.info:hover {
	opacity: 1;
}

.message {
	position: absolute;
	opacity: 0.2;
	width: 200px;
	height: 200px;
	top: 200px;
	right: -20px;
	user-select: none;
	pointer-events: none;
}

@media (max-width: 800px) {
	.message {
		display: none;
	}

	.images {
		flex-direction: column;
		margin: 0;
		margin-top: 64px;
	}

	.image1,
	.image2,
	.image3 {
		margin: 16px 0;
		height: 256px;
	}

	.image1:hover,
	.image2:hover,
	.image3:hover {
		transform: scale(1.05);
		margin: 16px 0;
	}
}
