* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
	background-color: #ffffff;
}

main {
	width: 100%;
	height: auto;
	padding-top: 32px;
	padding-bottom: 128px;
}

.links {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 32px;
	text-align: start;
	font-size: 14px;
	line-height: 32px;
	margin-bottom: 24px;
	justify-content: center;
}

.link {
	opacity: 0.75;
	color: black;
	margin: 0 16px;
	width: auto;
	font-size: 10px;
	letter-spacing: 1px;
	font-weight: bold;
	text-transform: uppercase;
	text-underline-offset: 2px;
}

.link:visited {
	color: black;
	text-decoration: none;
}

.link:hover {
	color: black;
	opacity: 1;
}

.logo {
	display: block;
	background-image: url('./logo.png');
	width: 100%;
	height: 200px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	margin-bottom: -48px;
}

.title {
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	color: #363636;
	font-size: 48px;
	font-weight: bold;
	text-align: center;
	margin-bottom: -4px;
	text-shadow: 0 -3.5px #fff, 0 3.5px #fff, -3.5px 0 #fff, 3.5px 0 #fff, -3px -2px #fff, 3px 2px #fff;
}

.description {
	display: block;
	width: 100%;
	font-size: 16px;
	color: #525252;
	text-align: center;
	letter-spacing: 1px;
}

.images {
	margin-top: 64px;
	padding: 0 16px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.image1,
.image2,
.image3 {
	margin: 0 16px;
	width: 100%;
	height: 200px;
	border-style: none;
	border-radius: 4px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.2s ease, margin 0.6s ease;
}

.image1:hover,
.image2:hover,
.image3:hover {
	transform: scale(1.05);
	margin: 0 32px;
}

.image1 {
	background-image: url('./image1-small.jpg');
}

.image2 {
	background-image: url('./image2-small.jpg');
}

.image3 {
	background-image: url('./image3-small.jpg');
}

.bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
	font-size: 12px;
	margin-top: 16px;
	padding: 0 32px;
}

.switcher {
	display: flex;
	text-align: left;
	flex-direction: row;
}

.animation-button {
	cursor: pointer;
	font-weight: bold;
	margin-right: 8px;
	opacity: 0.75;
}

.animation-button.active {
	text-decoration: underline;
	text-underline-offset: 2px;
	opacity: 1;
}

.info {
	width: 100%;
	user-select: none;
	text-align: right;
	letter-spacing: 1px;
	text-underline-offset: 2px;
	opacity: 0.75;
}

.message {
	position: absolute;
	opacity: 0.2;
	width: 200px;
	height: 200px;
	top: 180px;
	right: -28px;
	user-select: none;
	pointer-events: none;
}

@media (max-width: 800px) {
	.message {
		display: none;
	}

	.images {
		flex-direction: column;
		margin: 0;
		margin-top: 48px;
	}

	.image1,
	.image2,
	.image3 {
		margin: 16px 0;
		height: 256px;
	}

	.image1:hover,
	.image2:hover,
	.image3:hover {
		transform: scale(1.05);
		margin: 16px 0;
	}

	.bottom {
		font-size: 10px;
		padding: 0 0;
	}

	.info {
		letter-spacing: 0px;
	}
}


@media (max-width: 500px) {
	.bottom {
		flex-direction: column;
	}

	.images {
		margin-top: 32px;
	}

	.switcher {
		font-size: 14px;
		padding-top: 8px;
		padding-bottom: 8px;
		justify-content: center;
	}
	.info {
		text-align: center;
	}

}